@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(-180deg, #7533bd, #8c2463);
  border-radius: 30px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  content: "";
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 6px;
  margin-right: 3px;
  /* background-color only for content */
  background-clip: content-box;
  border: 2px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}

/* appearance for checked radiobutton */
input[type="checkbox"]:checked + label:before {
  background-color: #fff;
}

/* optional styles, I'm using this for centering radiobuttons */
label {
  display: flex;
  align-items: center;
}

ul.filterButton::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Track */
ul.filterButton::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
ul.filterButton::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 30px;
}
.tooltip::before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 7px 8px 0;
  border-color: #0000 #4c7b53 #0000 #0000;
  content: "";
  transition: 0.3s all ease;
  position: absolute;
  left: 100%;
  margin-left: 4px;
  top: 50%;
  transform: translate(0, -50%);
  visibility: hidden;
  opacity: 0;
}
.tooltip::after {
  content: Attr(data-tooltip);
  position: absolute;
  bottom: 50%;
  left: 100%;
  transition: 0.3s all ease;
  background: #4c7b53;
  width: 250px;
  transform: translate(0, 50%);
  padding: 12px;
  pointer-events: none;
  line-height: 20px;
  font-size: 13px;
  border-radius: 4px;
  color: #ffffff;
  margin-left: 11px;
  visibility: hidden;
  opacity: 0;
}
.tooltip:hover:after,
.tooltip:hover:before {
  visibility: visible;
  opacity: 1;
}
@media only screen and (max-width: 1390px) {
  .tooltip:after {
    right: -13px;
    margin-left: 0;
    top: 100%;
    bottom: auto;
    max-width: 100%;
    margin-top: 0;
    transform: translate(0);
    margin-top: 10px;
    z-index: 100;
  }
  .tooltip::before {
    right: 50px;
    transform: translate(0) rotate(90deg);
    bottom: -15px;
    top: auto;
  }
}
.ripple {
  z-index: 5;
  overflow: hidden;
  position: absolute;
  background: transparent;
  inset: 0;
}

.ripple:hover::after {
  content: "";
  position: absolute;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: animate 0.4s linear;
  animation-iteration-count: 1;
}
@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

.typewriter {
  position: relative;
}
.typewriter::after {
  position: absolute;
  content: "";
  border-right: 3px solid #f29f05;
  animation: blink 0.5s linear infinite;
  height: 100%;
  top: 16%;
  left: 0;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.pacman {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  animation: show 0s 1.6s forwards, fullTranslate 4s linear 1.6s forwards;
}
.pacman .before {
  background: #ffca07;
  width: 100px;
  height: 50px;
  border-radius: 50px 50px 0 0;
  position: relative;
  animation: up 0.4s infinite;
}
.pacman .after {
  background: #ffca07;
  width: 100px;
  height: 50px;
  border-radius: 0 0 50px 50px;
  animation: down 0.4s infinite;
}
.pacman .before::before {
  content: "";
  position: absolute;
  top: 27px;
  right: 20px;
  width: 10px;
  height: 10px;
  background: #2a1a37;
  border-radius: 50%;
}
.animatedText {
  clip-path: inset(0 0);
  animation: hideText 2.9s linear 1.6s forwards;
}
.firstText {
  animation: firstText 0.5s linear 5.3s forwards;
}
.lastText {
  opacity: 0;
  transform: translateY(26px);
  animation: firstText 0.5s linear 5.3s forwards;
}
.i {
  opacity: 0;
  transform: translateX(337px);
  animation: iText 0.5s linear 5s forwards;
}
.m,
.a,
.four,
.u {
  opacity: 0;
  transform: translateY(118px);
  animation: iText 0.2s linear 5.3s forwards;
}
.a {
  animation: iText 0.2s linear 5.4s forwards;
}
.four {
  animation: iText 0.2s linear 5.5s forwards;
}
.u {
  animation: iText 0.2s linear 5.6s forwards;
}

.wrapperText {
  animation: wrapperText 0s linear 4.6s forwards;
}
@keyframes up {
  100% {
    transform: rotate(-30deg);
  }
}
@keyframes down {
  100% {
    transform: rotate(30deg);
  }
}
@keyframes show {
  to {
    opacity: 1;
  }
}
@keyframes fullTranslate {
  70% {
    transform: translateX(750px);
  }
  100% {
    transform: translate(95px);
  }
}
@keyframes hideText {
  100% {
    clip-path: inset(0 0 0 100%);
  }
}
@keyframes firstText {
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes wrapperText {
  100% {
    transform: translateY(0);
  }
}
@keyframes iText {
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
